# Jetbrains
/*.iml
/.idea

# Bearsampp
/**/*.tmp
/**/*.log
/**/*.logs
/**/*.bak

# ignore everything except for core.
/alias/
/apps/
/bin/
/cgi-bin/
/img/
/logs/*
/ssl/
/tmp/*
core/tmp/*
/tools/
/vhosts/
/www/.htaccess
/**/post-install/
bearsampp.ini
bearsampp.conf
/core/resources/homepage/alias.conf
/core/resources/homepage/js/_commons.js

# Visual Studio
.vscode/
.vs/
.vsc/
