# Jetbrains
/*.iml
/.idea

# Bearsampp
/.dev
/core/resources/homepage/alias.conf
/core/resources/lastPath.dat
/core/resources/quickpick-releases.json
/bearsampp.conf
/bearsampp.ini


# Visual Studio
.vscode/
.vs/
.vsc/

# ignore "current" directories
/**/current

# Qodo
/.qodo
