# Jetbrains
/*.iml
/.idea

# Bearsampp
/**/*.tmp
/**/*.log
/**/*.logs
/**/*.bak

# ignore everything except for core.
/alias/
/apps/
/bin/
/cgi-bin/
/img/
/logs/*
/ssl/
/tmp/*
/core/tmp/*
/tools/
/vhosts/
/www/.htaccess
/**/post-install/
bearsampp.ini
#bearsampp.conf
/core/resources/homepage/alias.conf
/core/resources/loading.pid
#/core/libs/openssl/openssl.cfg
/core/resources/lastPath.dat
/core/resources/version.dat



# Visual Studio
.vscode/
.vs/
.vsc/

# api
/www/doxy/
/www/api/
/www/.phpdoc/

# exclude gitignores
!/tmp/.gitignore
!/logs/.gitignore
!/core/tmp/.gitignore
